.store-card {
    width: 335px;
}

.store-item {
    display: flex;
    align-items: center;
    width: 100%;

    border: 1px solid var(--border-grey);
}


.store-img {
    width: 140px;
    height: 100px;
}

.store-detail {
    display: flex;
    flex-direction: column;

    flex: 1;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.detail__title {
    margin-bottom: 7px;
}

.detail__menu {
    font-size: 0.9rem;
    font-weight: 400;
}

.store-add-btn {
    background-color: var(--main-bg-color);
    color: var(--font-white);

    width: fit-content;

    padding: 10px;
    border: none;
    border-radius: 1.1rem;
}
.store-add-btn:hover {
    color: var(--font-white);
}

.store-enroll-form {
    border: 1px solid var(--border-grey);
    padding: 20px;

    display: flex;
    flex-direction: column;
}