<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diary</title>
</head>
  <body>
    <div class="main">
        <h1>{{diary.title}}</h1>
        <h3>{{diary.content}}</h3>
        <p>created {{diary.created_at}}</p>
        <a href="{% url 'diary:edit' diary.id%}"><button>EDIT</button></a>
        <form action="{% url 'diary:diary_delete' diary.id%}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE" />
        </form>
        <a href="{% url 'diary:cover' %}"><button>리스트로 백</button></a>
    </div>
</body>
</html>