<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Diary</title>
    </head>
    <body>
        <div class="main">
            <form action="{%url 'diary:newpage' %} " method="POST">
                {% csrf_token %}
                <h3><label for="title">title</label></h3>
                <input type="text" name="title" />
                <h3><label for="content">content</label></h3>
                <textarea name="content" id="" cols="30" rows="10"></textarea>
                <br />
                <input type="submit" value="SUBMIT" id="submit" />
            </form>
            <a href="{% url 'diary:cover' %}"><button>리스트로 백</button></a>
        </div>
    </body>
</html>