{% extends 'baeminapp/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block main %}
<div class="store-container">
  <div class="store-container__header">
    <span>음식점 {{store_cnt}} 곳을 찾았습니다</span><br><br><br>
    <a class="store-add-btn" href="{% url 'create' %}">가게 추가하기</a>
  </div>
  <ul class="list">
    {% for store in stores %}
    <li class="store-item">
      <a href="{% url 'detail' store.id %}">
        <img class="store-img" src="{{ store.image.url }}" alt="대표사진" />
      </a>
      <a class="store-detail" href="{% url 'detail' store.id %}">
        <span class="detail__title font-lg">{{store.title}}</span>
        <span class="detail__menu">대표메뉴: {{store.menu_title}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}